<div>
    <h3 class="">{{data.competition.name}}</h3>
    <table class="table table-sm table-dark">
        <tbody>
          <tr>
            <th scope="row">id</th>
            <td>{{data.competition.id}}</td>
          </tr>
          <tr>
            <th scope="row">live_id</th>
            <td>{{data.competition.live_id}}</td>
          </tr>
          <tr>
            <th scope="row">name</th>
            <td>{{data.competition.name}}</td>
          </tr>
          <tr>
            <th scope="row">description</th>
            <td>{{data.competition.description}}</td>
          </tr>
          <tr>
            <th scope="row">nb_players</th>
            <td>{{data.competition.nb_players}}</td>
          </tr>
          <tr>
            <th scope="row">region</th>
            <td>{{data.competition.region}}</td>
          </tr>
          <tr>
            <th scope="row">allowed_zones</th>
            <td>{{data.competition.allowed_zones}}</td>
          </tr>
          <tr>
            <th scope="row">leaderboard_id</th>
            <td>{{data.competition.leaderboard_id}}</td>
          </tr>
          <tr>
            <th scope="row">creator_id</th>
            <td>{{data.competition.creator_id}}</td>
          </tr>
          <tr>
            <th scope="row">start_date</th>
            <td>{{data.competition.start_date}}</td>
          </tr>
          <tr>
            <th scope="row">end_date</th>
            <td>{{data.competition.end_date}}</td>
          </tr>
          <tr>
            <th scope="row">matches_generation_date</th>
            <td>{{data.competition.matches_generation_date}}</td>
          </tr>
        </tbody>
      </table>
</div>