<div>
    <h3 class="">{{match.name}}</h3>
    <table class="table table-sm table-dark">
        <tbody>
          <tr>
            <th scope="row">id</th>
            <td>{{match.id}}</td>
          </tr>
          <tr>
            <th scope="row">name</th>
            <td>{{match.name}}</td>
          </tr>
          <tr>
            <th scope="row">club_match_live_id</th>
            <td>{{match.club_match_live_id}}</td>
          </tr>
          <tr>
            <th scope="row">position</th>
            <td>{{match.position}}</td>
          </tr>
          <tr>
            <th scope="row">is_completed</th>
            <td>{{match.is_completed}}</td>
          </tr>
          <tr>
            <th scope="row">score_direction</th>
            <td>{{match.score_direction}}</td>
          </tr>
          <tr>
            <th scope="row">max_players</th>
            <td>{{match.max_players}}</td>
          </tr>
          <tr>
            <th scope="row">max_spectators</th>
            <td>{{match.max_spectators}}</td>
          </tr>
          <tr>
            <th scope="row">password</th>
            <td>{{match.password}}</td>
          </tr>
          <tr>
            <th scope="row">round_id</th>
            <td>{{match.round_id}}</td>
          </tr>
          <tr>
            <th scope="row">updated_at</th>
            <td>{{match.updated_at}}</td>
          </tr>
          <tr>
            <th scope="row">start_date</th>
            <td>{{match.start_date}}</td>
          </tr>
          <tr>
            <th scope="row">end_date</th>
            <td>{{match.end_date}}</td>
          </tr>
        </tbody>
      </table>
</div>