<div>
    <h3 class="">Server : {{match.server.name}}</h3>
    <table class="table table-sm table-dark">
        <tbody>
          <tr>
            <th scope="row">name</th>
            <td>{{match.server.name}}</td>
          </tr>
          <tr>
            <th scope="row">id</th>
            <td>{{match.server.id}}</td>
          </tr>
          <tr>
            <th scope="row">login</th>
            <td>{{match.server.login}}</td>
          </tr>
          <tr>
            <th scope="row">account_id</th>
            <td>{{match.server.account_id}}</td>
          </tr>
          <tr>
            <th scope="row">join_link</th>
            <td>{{match.server.join_link}}</td>
          </tr>
          <tr>
            <th scope="row">server_status</th>
            <td>{{match.server.server_status}}</td>
          </tr>
          <tr>
            <th scope="row">match_id</th>
            <td>{{match.server.match_id}}</td>
          </tr>
          <tr>
            <th scope="row">qualifier_id</th>
            <td>{{match.server.qualifier_id}}</td>
          </tr>          
        </tbody>
      </table>
</div>