<div>
    <h3 class="">{{data.competition.round.name}}</h3>
    <table class="table table-sm table-dark">
        <tbody>
          <tr>
            <th scope="row">id</th>
            <td>{{data.competition.round.id}}</td>
          </tr>
          <tr>
            <th scope="row">name</th>
            <td>{{data.competition.round.name}}</td>
          </tr>
          <tr>
            <th scope="row">position</th>
            <td>{{data.competition.round.position}}</td>
          </tr>
          <tr>
            <th scope="row">status</th>
            <td>{{data.competition.round.status}}</td>
          </tr>
          <tr>
            <th scope="row">isLocked</th>
            <td>{{data.competition.round.isLocked}}</td>
          </tr>
          <tr>
            <th scope="row">leaderboard_compute_type</th>
            <td>{{data.competition.round.leaderboard_compute_type}}</td>
          </tr>
          <tr>
            <th scope="row">nb_matches</th>
            <td>{{data.competition.round.nb_matches}}</td>
          </tr>
          <tr>
            <th scope="row">qualifier_id</th>
            <td>{{data.competition.round.qualifier_id}}</td>
          </tr>
          <tr>
            <th scope="row">competition_id</th>
            <td>{{data.competition.round.competition_id}}</td>
          </tr>
          <tr>
            <th scope="row">start_date</th>
            <td>{{data.competition.round.start_date}}</td>
          </tr>
          <tr>
            <th scope="row">end_date</th>
            <td>{{data.competition.round.end_date}}</td>
          </tr>
        </tbody>
      </table>
</div>